// burger

.burger-menu {
    display: none;
    background: transparent;
    color: var(--color-dark-3xl);
    position: relative;
    width: 30px;
    height: 30px;
    border: none;
    transition: transform .5s ease;
    z-index: 3;
}

.header.open .burger-menu {
    transform: rotate(90deg);
}

body.open .burger-menu {
    transform: rotate(90deg);
}

.burger-menu {
    @include tablet-s() {
        display: block;
    }
}

.burger-bar {
    background-color: var(--color-primary); 
    height: 2px; 
    width: 100%; 
    margin: 7px 0; 
}

.burger-bar-pets{
    background-color: var(--color-dark-3xl);
}


