// help

.help {
    padding-bottom: 100px;
}

.help-title {
    font-family: var(--font-main);
    font-size: 35px;
    line-height: 130%; 
    letter-spacing: 2.1px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 60px;
    color: var(--color-dark-l);
}

.help-block {
    display: flex;
    gap: 55px 120px;
    flex-wrap: wrap;
    justify-content: center;

    @include tablet () {
        gap: 20px;
        justify-content: space-around;
    }
}

.help-subject {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include tablet () {
        width: calc(33.33% - 20px);
    }
}

.help-subject img {
    width: 60px;
    height: 60px;
}

.help-subject p {
    margin-top: 30px;
    font-family: var(--font-main);
    font-size: 20px;
    color: var(--color-dark-l);
    letter-spacing: 1.2px;
    line-height: 115%;

    @include tablet () {
        line-height: 115%; 
        letter-spacing: 1.2px;
    }
}


.help-subject:nth-child(4),
.help-subject:nth-child(5),
.help-subject:nth-child(6) {
    @include tablet () {
        margin-top: 32px;
    }
}

.help-subject:nth-child(7),
.help-subject:nth-child(8),
.help-subject:nth-child(9) {
    @include tablet () {
        margin-top: 36px;
    }
}