@import "./../fonts/stylesheet.css";
:root {
  --color-light-xl: #FFF;
  --color-light-l: #F6F6F6;
  --color-light-s: #FAFAFA;
  --color-dark-s: #CDCDCD;
  --color-dark-m: #B2B2B2;
  --color-dark-l: #545454;
  --color-dark-xl: #4C4C4C;
  --color-dark-2xl: #444444;
  --color-dark-3xl: #292929;
  --color-primary: #F1CDB3;
  --color-primary-light: #FDDCC4;
  --font-main: "Georgia", sans-serif;
  --font-cards: "Arial", sans-serif;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  scroll-behavior: smooth;
  transition: 0.5s;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  padding: 0 40px;
}

.header {
  padding-top: 30px;
  background: url("../../img/header/noise-transparent.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  background-repeat: repeat, no-repeat;
  background-size: auto, auto 908px;
}

.header--header-pets {
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.logo-title {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 1.92px;
  color: var(--color-primary);
}

.logo-title--pets {
  color: var(--color-dark-l);
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 1.92px;
}

.logo-text {
  color: var(--color-light-xl);
  font-family: var(--font-cards);
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1.3px;
  text-align: center;
  padding-top: 9px;
}

.logo-text--pets {
  color: var(--color-dark-3xl);
  font-family: var(--font-cards);
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1.3px;
  text-align: center;
  padding-top: 9px;
}

.nav-list {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  list-style: none;
  column-gap: 40px;
  padding-top: 5px;
  padding-bottom: 8px;
}

.nav-link {
  color: var(--color-dark-s);
  transition: 0.3s;
}

.nav-link--pets {
  color: var(--color-dark-l);
  transition: 0.3s;
}
.nav-link--pets:hover {
  color: var(--color-dark-3xl);
}

.nav-link:hover {
  color: var(--color-light-s);
}

.nav-link:active {
  position: relative;
}

.nav-link:active::after {
  content: "";
  position: absolute;
  background: var(--color-primary);
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -9px;
}

.nav-link--pets:active::after {
  content: "";
  position: absolute;
  background: var(--color-primary);
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -9px;
}

.link-active {
  color: var(--color-light-s);
  position: relative;
}

.link-active--pets {
  color: var(--color-dark-l);
  position: relative;
}
.link-active--pets:after {
  content: "";
  position: absolute;
  background: var(--color-primary);
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -7px;
}

.link-active::after {
  content: "";
  position: absolute;
  background: var(--color-primary);
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -7px;
}

.header-hero {
  padding-top: 90px;
  background: url("../../img/header/noise-transparent.png") repeat, radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) no-repeat;
  background-size: auto;
}

.header-hero__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-hero__content {
  padding-top: 165px;
  max-width: 460px;
}

.hero-title {
  font-family: var(--font-main);
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: var(--color-light-s);
}

.hero-text {
  font-family: var(--font-cards);
  color: var(--color-dark-m);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  padding-top: 41px;
  padding-bottom: 42px;
}

.button-primary {
  display: block;
  background-color: var(--color-primary);
  color: var(--color-dark-3xl);
  width: 207px;
  height: 52px;
  border-radius: 100px;
  cursor: pointer;
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  padding: 15px 0;
  transition: 0.3s;
}

.button-primary:hover {
  background-color: var(--color-primary-light);
}

.about {
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-pets {
  width: 300px;
  height: 385px;
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  column-gap: 120px;
}

.about-text-content {
  max-width: 430px;
}

.about-title {
  font-family: var(--font-main);
  font-size: 35px;
  padding-bottom: 30px;
  letter-spacing: 2.1px;
  color: var(--color-dark-l);
}

.about-text {
  font-family: var(--font-cards);
  font-size: 15px;
  color: var(--color-dark-xl);
  line-height: 160%;
  padding-bottom: 25px;
}

.friends {
  padding-top: 70px;
  padding-bottom: 100px;
  background-color: var(--color-light-s);
}

.our-friends__title {
  text-align: center;
  color: var(--color-dark-l);
  font-family: var(--font-main);
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 2.1px;
  padding-bottom: 60px;
}

.friends-slider {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 58px;
}

.primary-center {
  margin: 0 auto;
  width: 261px;
}

.cards {
  display: flex;
  column-gap: 90px;
}

.card {
  width: 270px;
  height: 435px;
  background-color: var(--color-light-s);
  cursor: pointer;
  border-radius: 9px;
  transition: 0.4s;
}
.card:hover {
  background-color: var(--color-light-xl);
  transition: 0.4s;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.card-photo {
  border-radius: 9px 9px 0 0;
  width: 270px;
  height: 270px;
}

.card-title {
  padding: 30px 0;
  text-align: center;
  color: var(--color-dark-l);
  font-family: var(--font-main);
  font-size: 20px;
  letter-spacing: 1.2px;
}

.button-card {
  display: block;
  width: 187px;
  height: 52px;
  text-align: center;
  border: 2px solid var(--color-primary);
  border-radius: 100px;
  margin: 0 auto;
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
}
.button-card:hover {
  transition: 0.4s;
  background-color: var(--color-primary-light);
  border: 2px solid var(--color-primary-light);
}

.slider__btn {
  position: absolute;
  top: 44%;
  transform: translateY(-50%);
  width: 52px;
  height: 52px;
  border: 2px solid var(--color-primary);
  border-radius: 100px;
  cursor: pointer;
  padding-top: 9px;
  transition: 0.3s;
}
.slider__btn:hover {
  background-color: var(--color-primary-light);
  border: 2px solid var(--color-primary-light);
}

.slider__btn--prev {
  left: -0.5px;
}

.slider__btn--next {
  right: -0.5px;
}

.help {
  padding-bottom: 100px;
}

.help-title {
  font-family: var(--font-main);
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 2.1px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 60px;
  color: var(--color-dark-l);
}

.help-block {
  display: flex;
  gap: 55px 120px;
  flex-wrap: wrap;
  justify-content: center;
}

.help-subject {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.help-subject img {
  width: 60px;
  height: 60px;
}

.help-subject p {
  margin-top: 30px;
  font-family: var(--font-main);
  font-size: 20px;
  color: var(--color-dark-l);
  letter-spacing: 1.2px;
  line-height: 115%;
}

.donation {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: var(--color-light-s);
}

.about-donation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  column-gap: 30px;
}

.donation-title {
  width: 300px;
  height: 90px;
  font-family: var(--font-main);
  font-size: 35px;
  letter-spacing: 2.1px;
  line-height: 130%;
  color: var(--color-dark-l);
  margin-bottom: 20px;
}

.donation-personal {
  color: var(--color-dark-l);
  font-family: var(--font-main);
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.9px;
  margin-bottom: 20px;
}

.donation-number {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-primary-light);
  border-radius: 9px;
  width: 349px;
  height: 43px;
  font-family: var(--font-main);
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 1.2px;
  padding: 10px 15px;
  margin-bottom: 20px;
}

.donation-number img {
  margin-right: 14px;
}

.number {
  margin: 0;
}

.donation-text {
  width: 380px;
  color: var(--color-dark-m);
  font-family: var(--font-cards);
  font-size: 12px;
  font-style: italic;
  line-height: 18px;
}

.footer {
  background: url("../../img/header/noise-transparent.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  background-repeat: repeat, no-repeat;
  padding-top: 54px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 139px 1fr 160px 1fr;
  gap: 0;
}

.footer-title,
.footer-title-middle {
  color: var(--color-light-xl);
  font-family: var(--font-main);
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 2.1px;
  margin-bottom: 40px;
}

.footer-title-middle {
  margin-bottom: 35px;
}

.footer-info,
.footer-info-middle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
}

.footer-info-middle {
  margin-bottom: 30px;
}

.footer-icon {
  margin-right: 20px;
}

.footer-email,
.footer-phone,
.footer-adress {
  text-decoration: none;
  color: var(--color-primary-light);
  font-family: var(--font-main);
  font-size: 20px;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 1.2px;
}

.footer-column--first {
  grid-column: 1/span 1;
}

.footer-column--middle {
  grid-column: 3/span 1;
}

.footer-column--third {
  grid-column: 5/span 1;
}

.footer-info-dog {
  width: 300px;
  height: 310px;
}

.footer-image {
  max-width: 100%;
  height: auto;
}

.pets {
  padding-top: 80px;
  padding-bottom: 105px;
  background: var(--color-light-l);
}

.pets-title {
  padding-bottom: 60px;
}

.pets-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 40px;
  row-gap: 30px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 57px;
}

.pagination-button {
  width: 52px;
  height: 52px;
  margin: 0 10px;
  padding-top: 5px;
}

.inactive {
  border-radius: 100px;
  border: 2px solid var(--color-dark-s);
  cursor: default;
}

.active {
  border-radius: 100px;
  background: transparent;
  border: 2px solid var(--color-primary);
}
.active:hover {
  background: var(--color-primary-light);
}

.active-page {
  border-radius: 100px;
  background: var(--color-primary);
  cursor: default;
}/*# sourceMappingURL=main.css.map */