:root {

--color-light-xl: #FFF;
--color-light-l: #F6F6F6;
--color-light-s: #FAFAFA;
    
--color-dark-s: #CDCDCD;
--color-dark-m: #B2B2B2;
--color-dark-l: #545454;
--color-dark-xl: #4C4C4C;
--color-dark-2xl: #444444;
--color-dark-3xl: #292929;
    
--color-primary: #F1CDB3;
--color-primary-light: #FDDCC4;


--font-main: 'Georgia', sans-serif;
--font-cards: 'Arial', sans-serif;
}

@mixin desktop(){
	@media (max-width: 1279px) {
		@content;
	}
}

@mixin desktop-special(){
	@media (max-width: 1263px) {
		@content;
	}
}

@mixin desktop-special-s() {
	@media (max-width: 1179px) {
		@content;
	}
}

@mixin desktop-s(){
	@media (max-width: 1024px) {
		@content;
	}
}


@mixin tablet(){
	@media (max-width: 768px) {
		@content;
	}
}

@mixin tablet-s(){
	@media (max-width: 767px) {
		@content;
	}
}


@mixin mobile(){
	@media (max-width: 320px) {
		@content;
	}
}

@mixin mobile-m(){
	@media (max-width: 750px) {
		@content;
	}
}

@mixin mobile-modal(){
	@media (max-width: 620px) {
		@content;
	}
}

@mixin pet-cards-page(){
	@media (max-width: 900px) {
		@content;
	}
}